@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html[data-theme="light"]{

	/* 1 */
	--nae-main-green : #6eaf7c;
	--nae-main-pink: #D823C3; /*main-pink: D823C3*/
	--nae-main-lemon: #A1FFC3;
	--nae-main-neutral: #000000; /* black */
	
	/* 5 */
	--nae-turqois-green: #6Fb0A9; /* turqois */

	/* 6 */
	--nae-gray-green: #93b099;
	--nae-gray-pink: #D96BCC; /* gray-pink: D96BCC */	

	--pst-color-primary: var(--nae-main-green);
	--pst-color-inline-code : var(--nae-gray-pink);  
	--pst-color-link-hover: var(--nae-main-neutral); 
}


html[data-theme="dark"]{

	/* 1 */
	--nae-main-neutral: #FFFFFF; /* white */



	--pst-color-link-hover: var(--nae-main-neutral);
}





a.headerlink {
  color: var(--nae-gray-green);
}

a:hover, .prev-next-area a p.prev-next-title:hover{
	text-decoration: underline !important;
}


/*
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	"DM Serif Display", serif;
	Gravitas One
	Playfair Display SC

*/

h1, h2, h3, h4 {
	margin-bottom: 0.5rem;
}

h1{
	font-family: "DM Serif Display", serif !important;
  	font-weight: 900 !important;
  	font-style: normal !important;
  	line-height: 1.5;
    /*font-family: "Gravitas One" !important;
    font-weight: 400 !important;
    font-style: Regular;
    font-stretch: expanded;
	text-transform: uppercase !important;
	font-size: 2rem;
	line-height: 1.05;
	color: var(--nae-main-neutral) !important;*/
}
h2 {
	font-family: "EB Garamond";
	margin-top: 2em;
	font-size:140%;
	line-height: 1.5;
}
h2:after{
	content:' ';
    display:block;
    border:1px solid #AAA;
}
.tiny { /* cute tiny font */
	font-family: 'Noto Sans';
	letter-spacing: 6px;
	font-size: 70%;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--nae-gray-pink);
}
ol li > p:first-child, ul li > p:first-child{
	margin-bottom: 0px;
}
p{
	font-family: "EB Garamond";
	line-height: 1.5 !important;
    margin-top: 0;
    font-size: 105%;
    font-weight: 450;
  	margin-bottom: 1rem;
}
b, strong{
	font-weight: 600 !important;	
}

.pre {
	font-family: 'Noto Sans';
	font-size: 90%;
	letter-spacing: 0.2px;

}




h6 {
	margin-top: 1em;
	font-size:120%;
	line-height: 1.5;
}

/*a, .prev-next-area a p.prev-next-title {
	color: rgba(110, 175, 124) !important;
}*/